* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-evenly;
    height: 63px;
    width: 100%;
    box-sizing: border-box;
    background: #252B3B;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    height: 40px;
    width: 40px;
    padding: 0 10px 0 10px;
}

.logo p {
    font-size: 25px;
    color: white;
    padding: 0 10px 0 10px;
    font-weight: 800;
}

.logo a {
    color: white;
}

.nav {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.nav a {
    font-size: 16px;
    padding: 20px 10px;
    color: white;
    font-weight: 600;
}

.nav a:hover {
    color: gray;
    transition: 0.3s;
}

.body_2 {
    position: absolute;
    top: 62px;
}

/*SOBRE MI*/

h1 {
    color: white;
    text-align: left;
}

.sobremi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/wallpaperSoja.png);
    background-attachment: fixed;
    background-size:cover;
    background-position:right;
    background-repeat:no-repeat;	
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobremi img {
    height: 30%;
    width: 30%;
    margin: 100px;
    opacity: 0.6;
}

.sobremi p {
    font-size: 18px;
    line-height: 2;
    text-align: justify;
    padding: 10px 15%;
    color: white;
    margin: 30px 0 60px 0;
}

/*EXPERIENCIA*/

.experiencia {
    background: #252B3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_exp {
    display: flex;
    justify-content: flex-end;
}

.titulo_exp h2 {
    color: white;
    margin-right: 15%;
    margin-top: 100px;
    font-size: 40px;
}

.experiencia__empresa0 {
    color: white;
}

.experiencia__empresa0 h2 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    padding: 0 15%;
    color:white;
    margin-top: 65px;
}

.experiencia__empresa0 p {
    font-size: 18px;
    line-height: 2;
    text-align: left;
    padding: 0px 15%;
}

.experiencia__empresa1 {
    color: white
}

.experiencia__empresa1 h2 {
    margin-top: 7px;
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    padding: 0 15%;
    color: white;
    margin-top: 65px;
}

.experiencia__empresa1 p {
    font-size: 18px;
    line-height: 2;
    text-align: left;
    padding: 0px 15%;
}

.experiencia__empresa2 {
    color: white
}

.experiencia__empresa2 h2 {
    margin-top: 7px;
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    padding: 0 15%;
    color: white;
    margin-top: 65px;
}

.experiencia__empresa2 p {
    font-size: 18px;
    line-height: 2;
    text-align: left;
    padding: 0px 15%;
    margin-bottom: 60px;
}

/*ESTUDIOS*/

.educacion {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15%;
    color: white;
}

.titulo_edu {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(32, 32, 32);
}

.titulo_edu h2 {
    color: white;   
    margin-right: 15%;
    margin-top: 100px;
    font-size: 40px;
}

.educacion a {
    color: white;
}

.educacion a:hover {
    color: gray;
    transition: 0.2s;
}

.educacion__carreras {
    margin-bottom: 10px;
}

.educacion h2 {
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    margin-top: 25px;
    color: white(255, 197, 89);
    margin-top: 65px;
}

.educacion p {
    font-size: 18px;
    line-height: 2;
    text-align: left;
}

/*CONTACTOS*/

.contactos {
    background: #252B3B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 15%;
}

.contactos__titulo {
    color: white;
    font-size: 18px;
    margin: 20px;
}

.contactos__iconos{
    display: flex;
    flex-direction: row;
}

.contactos a {
    text-decoration: none;
    color: white;
    font-size: 70px;
    margin: 0px 40px 40px 40px;
}

.contactos a:hover {
    color: gray;
    transition: 0.2s;
}

/*FOOTER*/

.footer {
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer p {
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: gray;
    transition: 0.3s;
}

/*SEPARADORES*/

.linea {
    border: 1px solid white;
    width: 70%;
    margin: 10px auto 0px auto;
}

.linea2 {
    border: 1px solid white;
    margin: 25px auto 20px auto;
}